.pages{margin:20px 0;}
.panel-heading{overflow: hidden;position: relative;}
.panel-heading img{width:100%;max-height:200px;}
.panel-heading h3{float:left;position: absolute;bottom:20px;width:100%;text-align:center;background:black;padding:10px;opacity: 0.9;}