/* You can add global styles to this file, and also import other style files */
.colorInvalid {
    color: red;
}

body{background: url(http://www.script-tutorials.com/demos/360/images/stars.png) top center #000;color:white;}
h3{font-size:20px;}
.btn {color:rgb(250, 247, 68) !important;}
.btn .buttons__login{margin-bottom:30px;}
.modal-dialog{color:black;}
.ngx-pagination li,.ngx-pagination a, .ngx-pagination button {color:rgb(255, 255, 255) !important;background:#1a1a1a;}
.ngx-pagination li,.ngx-pagination a:hover {color:black !important;}
.ngx-pagination li,.ngx-pagination a:disabled {color:white !important;}
.ngx-pagination .current{color:black !important;background:#f1ff23 !important;font-weight:bold;}
.ship img, .specie img {width:100% !important;}
.dropdown{cursor: pointer;}
